.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout_banner{
    width: 100%;
    margin-bottom: 10px;
}



.checkout_title{
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;  
}
.product__img
{
  width:100%;
  height:200px;
  padding:0px;
  overflow: hidden;
  cursor:pointer;
}

.product__img img
{
  width:100%;
  height:150%;
  transition: 1s all ease;
}

.product__img:hover img
{
  transform: scale(1.4);
}